.tweetContainer {
  width: 100%;
  display: flex;
  min-height: min-content; 
}

.tweetCard {
  width: 100%;
  height: auto; 
  flex: 1;
}


.tweetCard :global(iframe) {
  width: 100% !important;
  min-height: 250px !important; 
}
.tweetContainer :global(.react-tweet-theme) {
  margin: 0;
}
